:root {
    --white: #f4f4f4;
    --light-green: #9fd53b;
    --dark-green: #3a9a00;
    --light-green-disabled: #bfd890;
    --dark-green-disabled: #7c9e68;
    --light-red: #f65e6f;
    --dark-red: #a2202a;
    --grey: #dddddd;
}